* {
	margin: 0;
}

body {
	background:#1E1E1E;
	color: #6B8F8F;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	margin: 0 8px;
	padding-left: 5px;
	padding-right: 5px;
}

hr {
	border: none;
	border-top: 1px solid #B7C5D9;
	height: 0;	
	clear: left;
	padding-bottom: 20px;
}

h1 {
	font-family: tahoma;
	letter-spacing: -2px;
	font-size: 20pt;
	margin: 0;
	margin-top: 10px;
	text-align: center;
}

h3 { 
	padding-top:30px;
	text-align:center;
}

a, a:visited {
	text-decoration: underline;
	color: #FFFFFF;
}

a:hover {
	color: #ff0000;
}

form {
	padding-bottom:20px;
}

form table {
	margin: auto;
}

form table tr td {
	text-align: left;
	margin: 0;
	padding-left:5px;
	padding-right:5px;
}

table {
	margin: 0;
}

td {
	background:#333333;
	text-align:center;
	color:#6B8F8F;
}

img.post-image {
	display: block;	
	float: left;
	margin: 0px 20px;
	border: medium none;
	padding-bottom:30px;
}

.post {
	max-width: 97%;
	padding-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.post.text {
	padding-top: 15px;
	padding-left: 20px;
}

.post.reply {
	max-width: 97%;
	background: #333333;	
        margin-bottom: 5px;
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

.post.reply.body {
	display: block;	
	padding-top:10px;
}

.footer {
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
}
