{% load staticfiles %}
{% load board_extras %}
<!DOCTYPE html>
<html>

	<head>
		<title>DjangoChan Dev Board</title>
		<link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}" />
	</head>

	<body>
		<h1>DjangoChan Dev Board</h1>

		<h3>Create Thread</h3>

		<form action="{% url 'create_thread' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<table>
				<input type="hidden" name="a" value="{{ a }}">
				<input type="hidden" name="b" value="{{ b }}">
				<tr>
					<td style="text-align:center;"><b>Title</b></td>
					<td style="background:none;"><input type="text" name="title" size="20"></td>	
				</tr>
				<tr>
					<td><b>{{ a }} + {{ b }} = ?</b></td>
					<td style="background:none;"><input type="text" name="captcha" size"20"><input type="submit" value="Create Thread"></td>
				</tr>
				<tr>
					<td style="text-align:center;"><b>Message</b></td>
					<td style="background:none;"><textarea id="new_thread" rows="5" cols="36" name="text"></textarea></td>
				</tr>
				<tr>
					<td style="text-align:center;"><b>Image</b></td>
					<td><input type="file" accept="image/*" name="image"></td>
				</tr>
				<tr>
					<td style="background:none;"></td>
					<td style="background:none;font-size:11px;"><i>Messages must be between 5 and 2000 characters</i><br><i>You must upload an image with your thread</i><br><i>Image must be JPG, PNG or GIF. Max image size of 3mb</i></td>
				</tr>
			</table>	
		</form>

{% if threads %}
	{% for thread in threads %}	
		<div class="post">	
			<b style="color:#32DD6F">{{ thread.thread_title }}</b> {{ thread.pub_date }} No.{{ thread.id }} <a href="{% url 'thread' thread.id %}">[View Thread]</a>
			<img src="static/board/threadimages/{{ thread.id }}" width="250px" height="250px" class="post-image">
			<div class="post text">
				{{ thread.thread_text|post_urlize }}
			</div>
			<br>		
			{% if thread.thread_count > 5 %}
			<i style="font-size:11px;padding-left:19px;">Total Replies: {{ thread.thread_count }}</i><br><br>
			{% endif %}
		
			{% for objects in replies %}	
				{% if forloop.counter == forloop.parentloop.counter %}	
					{% for reply in objects reversed %}		
						<div class="post reply">	
							{{ reply.pub_date }} <a href="/thread/{{ thread.id }}/#{{ reply.id }}">No.{{ reply.id }}</a>
							<div class="post reply body">
								{{ reply.post_text|post_urlize }}
							</div>
						</div>
						<br>
					{% endfor %}
				{% endif %}
			{% endfor %} 		
		</div>	
		<hr>	
	{% endfor %}
{% else %}
	<p>No threads</p>
{% endif %}
	Pages: <a href="/">[ 0 ]</a> 
	{% for i in pagecount|get_range %}
		<a href="/{{ forloop.counter }}/">[ {{ forloop.counter }} ]</a> 
	{% endfor %}
	<br><br> 
	<i style="font-size:11px;">Total threads: {{ threadcount }}</i>
	<br><br>
	
	<hr>

	<div class="footer">
	Developed by <a href="https://Github.com/Astonex">Mark Winter</a> (astonex). Licensed under AGPLv3
	</div>
	
	</body>
</html>
