{% load staticfiles %}
{% load board_extras %}
<!DOCTYPE html>
<html>
<head>
<title>Tox Feedback Board | {{ thread.thread_title }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}" />
</head>
<body>
<br>
<a href="{% url 'index' %}">Back to index</a>

<h1>Tox Feedback Board</h1>

{% if error_message %}<b style="color:red">{{ error_message }}</b>{% endif %}

<br><br><br>
<h3>Reply to Thread</h3>

<form action="{% url 'reply' thread.id %}" method="post">
{% csrf_token %}
	<table>
	<input type="hidden" name="a" value="{{ a }}">
	<input type="hidden" name="b" value="{{ b }}">
	<tr>
		<td style="text-align:center"><b>{{ a }} + {{ b }} = ?</b></td>
		<td style="background:none;"><input type="text" name="captcha" siez="20">
			<input type="submit" value="Reply to Thread"></td>
	</tr>
	<tr>
		<td style="text-align:center"><b>Message</b></td>
		<td style="background:none;"><textarea id="reply" rows="5" cols="36" name="text"></textarea></td>
	</tr>
	<tr>
		<td><b>Image</b></td>
		<td><input type="file" name="image" accept="image/*"></td>
	</tr>
	<tr>
		<td style="background:none"></td>
		<td style="background:none;font-size:11px;"><i>Messages must be between 5 and 2000 characters</i><br><i>Images with replies are optional</i><br><i>Images must be JPG, PNG or GIF. Max image size of 3mb</i></td>
	</tr>	
	</table>
</form>
<br><br><br>
<hr>
<div class="post">
	<b style="color:#078400">{{ thread.thread_title }}</b> {{ thread.pub_date }} No.{{ thread.id }}
	<img src="/static/board/threadimages/{{ thread.id }}" class="post-image" width="250px" height="250px">
	<div class="post text">
		{{ thread.thread_text|post_urlize }}
		<br><br>
	</div>
</div>

{% for reply in replies %}
	<div id="{{ reply.id }}" class="post reply">
	{{ reply.pub_date }} <a href="#{{ reply.id }}" onClick="quote('{{ reply.id }}')">No.{{ reply.id }}</a>
	<img src="static/board/threadimages/{{ thread.id }}" width="250px" height="25px">
	<div class="post reply body">

	{{ reply.post_text|post_urlize }}

	</div>
	</div>
	<br>	
{% endfor %}
<hr>
<div class="footer">
Developed by <a href="https://Github.com/Astonex">Mark Winter</a> (astonex). Licensed under AGPLv3
</div>

<script type="text/javascript">
function quote(id) {
	var Field = document.getElementById('reply');
	Field.value += '>>' + id;
	
}
</script>

</body>
</html>
